
.App-link {
  color: black;

  display: block;
}

.App-link:hover {
  text-decoration:none;
  color: #F24822;
}

.social-link {
  color: black;

  display: block;
  text-decoration: none;
}


.main-container {
  background-color: #ffffff;   /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  font-family: 'Roboto',sans-serif;
  background-color: white;
  
}

.top-box {
  text-align: center;
  font-size: calc(2.5vmin);
  letter-spacing: 1px; /* Adjust the letter-spacing value as needed */

}

.link-box {
  justify-content: space-evenly;
  display: flex;
  font-size: calc(2vmin);
  letter-spacing: 2px; /* Adjust the letter-spacing value as needed */

}

.link-box-1 {
  text-align: left;
}
.link-box-2 {
  text-align: right;
}

.link-box > div {
  margin-right: 10px; /* Adjust the margin as needed for the desired spacing */
}

.link-box > div:last-child {
  margin-right: 0; /* Remove margin from the last div to avoid extra spacing */
}


.bottom-box {
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */

}
.social-box {
  display: flex;
  justify-content: space-between;
  font-size: calc(1.5vmin);
}
