
.App-link {
  color: #6799b6;
  display: block;
  text-decoration:underline;

}

.App-link:hover {
  text-decoration:none;

  color: #2e536a;

}

.social-link {
  color: darkgray;

  display: block;
  text-decoration: none;
}

.main-container {
  background-color: #ffffff;   /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: white;
}


.top-box {
  text-align: left;
  font-size: calc(4vmin);
  letter-spacing: 1px; /* Adjust the letter-spacing value as needed */
}
.top-box h1 {
  margin-bottom:1vh;
  padding-top: 0px;
  margin-top:0px;
  


}

.top-box p {
  padding: 0px;
  margin:0;
  margin-bottom: 2.5vh;
}

.link-box {
  justify-content: space-between;
  display: flex;
  font-size: calc(3vmin);
  letter-spacing: 2px; /* Adjust the letter-spacing value as needed */

}

.link-box-1 {
  text-align: left;
}
.link-box-2 {
  text-align: right;
}

.link-box > div {
  margin-right: 10px; /*Adjust the margin as needed for the desired spacing*/
}

.link-box > div:last-child {
  margin-right: 0; /* Remove margin from the last div to avoid extra spacing */
}


.bottom-box {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */

}
.social-box {
  display: flex;
  justify-content: space-between;
  font-size: calc(2.5vmin);
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 40px 0px;
}

.grid-item-container {
  text-align: center;
}

.grid-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-label {
  margin-top: 5px;
  font-size: 10px;
  color: rgb(163, 163, 163);
  text-align: left;
}
